
<!-- Side navigation -->
{{> navbar }}

<div class="main">
    <h1>Campgrounds:</h1>
    <p>Here's a list of the campgrounds!</p>

    <form id = "new-campground-form" action = "/campgrounds/new" method = "get">
  	    <button type = "submit">New Campground</button>
  	</form>

    {{#if campgrounds}}
    <ul>
        {{#each campgrounds}}
        <li class="cg-list">
        <!--ul-->
            {{#if this.image}}
            <!--li class="horizontal"-->
                <a href="/campgrounds/id/{{this._id}}"><img src="{{this.image}}" alt="campground_image" style="width:128px;height:128px;"></a>
                <br/>
            <!--/li-->
            {{/if}}
            <!--li-->
                <a href="/campgrounds/id/{{this._id}}">{{this.name}}</a>
                <br/>
                {{#if this.description}}
                Description: {{this.description}}
                {{else}}
                Description: N/A
                {{/if}}
                <br/>
                Price per night: ${{this.price}}
            </li>
        <!--/ul-->
        <!--/li-->
        {{/each}}
    </ul>
    {{/if}}
</div>
