
<!-- Side navigation -->
{{> navbar }}

<div class="main">
    <form id = "back-form" action = "/campgrounds/" method = "get">
        <button type = "submit">Back</button>
    </form>
    <h1>{{campground.name}}</h1>

            {{#if campground.image}}
            <img src="{{campground.image}}" alt="campground_image" style="width:512px;height:512px;">
            <br/>
            {{/if}}
            Description: {{campground.description}}
            <br/>
             Price per night: ${{campground.price}}
            <br/>
            Location: {{campground.location}}
            <br/>
             Contact Information: {{campground.contact_info}}
            <br/>
            Rating: {{rating}}
            <br/>

            {{#if isOwner}}
        		  <!--a href="/campgrounds/edit/id/{{campground._id}}"><button>Edit this campground</button></a-->
                <form id = "edit-form" action = "/campgrounds/edit/id/{{campground._id}}" method = "get">
	                <button type = "submit">Edit this campground</button>
                </form>
        	{{/if}}

            <h3>Reviews</h3>
            {{#if campground.reviews}}
            <ol>
                {{#each campground.reviews}}
                <li>
                    <p>
                        User: {{this.reviewer}} 
                        <br/>
                        Rating (Out of 5): {{this.rating}}
                        <br/>
                        Review: {{this.review}}
                    </p>
                </li>
                {{/each}}
            </ol>
            {{else}}
            <p>There are no reviews yet</p>
            {{/if}}

            <form id = "add-review-form" action = "/campgrounds/review/{{campground._id}}" method = "post">
                <label>Add rating: </label>
                <input id = "rating" name = "rating">
                <br/>
                
                <label>Add Review: </label>
                <br/>
                <textarea id = "review" name = "review" rows="3" cols="50"></textarea>
                <button type = "submit">Submit</button>
            </form>
            <script src="/public/js/review_form.js"></script>

</div>
