
<!-- Side navigation -->
<div class="sidenav">
  <a href="/campgrounds">Campgrounds</a>
  <br/>
  <a href="/users/account">Account</a>
  <br/>
  <a href="/users/logout">Logout</a>
  <br/>
</div>

<div class="main">
    <h1>{{campground.name}}</h1>
    <p>Campground details:</p>

            {{#if campground.image}}
            <img src="{{campground.image}}" alt="campground_image" style="width:512px;height:512px;">
            <br/>
            {{/if}}
            Description: {{campground.description}}
            <br/>
             Price per night: ${{campground.price}}
            <br/>
            Location: {{campground.location}}
            <br/>

             Contact Information: {{campground.contact_info}}
            <br/>

            <a href="/campgrounds/edit/id/{{campground._id}}">Edit this campground</a>
</div>
