
<!-- Side navigation -->
{{> navbar }}

<div class="main">
    <a href="/campgrounds/"><button>Back</button></a>
    <h1>{{campground.name}}</h1>
    <p>Campground details:</p>

            {{#if campground.image}}
            <img src="{{campground.image}}" alt="campground_image" style="width:512px;height:512px;">
            <br/>
            {{/if}}
            Description: {{campground.description}}
            <br/>
             Price per night: ${{campground.price}}
            <br/>
            Location: {{campground.location}}
            <br/>

             Contact Information: {{campground.contact_info}}
            <br/>

            {{#if isOwner}}
        		  <a href="/campgrounds/edit/id/{{campground._id}}"><button>Edit this campground</button></a>
        		{{/if}}
</div>
