
<!-- Side navigation -->
<div class="sidenav">
  <a href="/campgrounds/new">New Campground</a>
  <br/>
  <a href="/users/account">Edit Account</a>
  <br/>
  <a href="/users/logout">Logout</a>
  <br/>
</div>

<div class="main">
    <h1>Campgrounds:</h1>
    <p>Here's a list of the campgrounds!</p>

    {{#if campgrounds}}
    <ul>
        {{#each campgrounds}}
        <li class="cg-list">
        <!--ul-->
            {{#if this.image}}
            <!--li class="horizontal"-->
                <img src="{{this.image}}" alt="campground_image" style="width:128px;height:128px;">
                <br/>
            <!--/li-->
            {{/if}}
            <!--li-->
                <a href="/campgrounds/id/{{this._id}}">{{this.name}}</a>
                <br/>
                Description: {{this.description}}
                <br/>
                Price per night: ${{this.price}}
            </li>
        <!--/ul--> 
        <!--/li-->
        {{/each}}
    </ul>
    {{/if}}
</div>