{{> navbar }}

<div class="main">
	<h1>Account Information</h1>

	<h2>Username: </h2>
	<p>
		{{username}}
	</p>

	<h2>Bio: </h2>
	<p>
		{{bio}}
	</p>

	<h2>My Campgrounds: </h2>
	{{#if campgrounds}}
	<ul>
			{{#each campgrounds}}
			<li class="cg-list">
			<!--ul-->
					{{#if this.image}}
					<!--li class="horizontal"-->
							<img src="{{this.image}}" alt="campground_image" style="width:128px;height:128px;">
							<br/>
					<!--/li-->
					{{/if}}
					<!--li-->
							<a href="/campgrounds/id/{{this._id}}">{{this.name}}</a>
							<br/>
							Description: {{this.description}}
							<br/>
							Price per night: ${{this.price}}
					</li>
			<!--/ul-->
			<!--/li-->
			{{/each}}
	</ul>
	{{/if}}

	<form id = "edit-form" action = "/users/edit" method = "get">
	    <button type = "submit">Edit Account</button>
	</form>
</div>
